@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.card_task {
	display: flex;
	flex-direction: column;
	gap: 15px 0;
	width: 100%;
	max-width: 282px;
	padding: 12px;

	background-color: $task-block;
	border-radius: 10px;

	> div {
		display: flex;
		flex-direction: column;
		gap: 15px 0;

		> div {
			padding: 10px;
			background-color: $white;
			border-radius: 5px;
		}
	}

	> form {
		> input {
			width: 100%;
			margin-bottom: 15px;
			padding: 7px 9px;
			border-radius: 5px;
		}

		> select {
			width: 100%;
			padding: 10px;
			margin-bottom: 15px;

			background-color: white;
			border-radius: 5px;
			cursor: pointer;
			appearance: none;

			&:not([multiple]) {
				background-repeat: no-repeat;
				background-position: calc(100% - 5px);
				background-size: 1.2rem;
				background-image: url('/public/arrow-black.svg');
			}
		}

		> div {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
}
