@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$default-font: 'Roboto', sans-serif;
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$gray: rgba(94, 108, 132, 1);
$main-block: rgba(0, 121, 191, 1);
$header-footer-block: rgba(0, 103, 163, 1);
$task-block: rgba(235, 236, 240, 1);
$validation: red;
