@import '/src/assets/styles/variables';

.card_task_from {
	> input {
		width: 100%;
		padding: 7px 9px;
		border-radius: 5px;
	}

	> div:last-child {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 15px;

		> div.validation {
			margin-bottom: 10px;
			color: $validation;
		}
	}
}
